services:
  backend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: laravel-app
    env_file:
      - ./src/.env
    volumes:
      - ./src:/var/www
      - ./docker/php.ini:/usr/local/etc/php/php.ini
    expose:
      - "9000"      # PHP-FPMポート
    depends_on:
      - db
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    env_file:
      - ./src/.env
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    ports:
      - "8080:80"
    env_file:
      - ./src/.env
    depends_on:
      - db
    networks:
      - app-network

volumes:
  mysql-data:

networks:
  app-network:
    driver: bridge
